:root {
  --color-primary: #444cf7;
  --bg-color: #edf2f7;
  --text-color: rgb(42, 41, 41);
  --border-radius: 16px/44px;
}
html,
body {
  height: 90%;
}

body {
  color: var(--text-color);
  padding: 1rem 1rem;

  font-family: sans-serif;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  background-color: var(--bg-color);
  opacity: 0.8;
  background-image: radial-gradient(
    var(--color-primary) 0.5px,
    var(--bg-color) 0.5px
  );
  background-size: 10px 10px;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 0.3rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;

  background-color: var(--color-primary);
  color: whitesmoke;
  padding: 1rem 1rem;
  text-decoration: none;

  height: 16px;
  border-radius: var(--border-radius);
  transition: filter 0.3s ease-in-out;
  border: 2px solid black;

  &:active {
    transform: scale(0.98);
  }

  &:hover {
    filter: saturate(10);
  }
}

#game {
  display: flex;
  align-items: center;
  justify-content: center;
}
#main-canvas {
  border-radius: var(--border-radius);
  cursor: e-resize;
}
