* {
  padding: 0;
  margin: 0;
}
:root {
  --color-primary: #2085d1;
  --bg-color: #edf2f7;
  --text-color: rgb(42, 41, 41);
  --border-radius: 16px/44px;
}
html,
body {
  height: 100%;
  padding: 1rem;
}

body {
  color: var(--text-color);
  padding: 1rem 1rem;

  font-family: monospace;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  background-color: var(--bg-color);
  opacity: 0.8;
  background-image: radial-gradient(
    var(--color-primary) 0.5px,
    var(--bg-color) 0.5px
  );
  background-size: 10px 10px;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 0.3rem;

  .logo {
    display: flex;
    align-items: center;
  }
}

nav {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;

  background-color: var(--color-primary);
  color: whitesmoke;
  padding: 1rem 1rem;
  text-decoration: none;

  height: 16px;
  border-radius: var(--border-radius);
  transition: filter 0.3s ease-in-out;
  border: 2px solid black;

  &:active {
    transform: scale(0.98);
  }

  &:hover {
    filter: saturate(2);
  }
}
#credits {
  display: flex;
  align-items: center;
  justify-content: center;

  details {
    width: 630px;

    summary {
      cursor: pointer;
      font-size: 1.2rem;
      text-align: center;
    }

    .type {
      font-weight: bold;
    }
  }

  .row {
    display: flex;
    gap: 2rem;
  }
}
#game {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  #main-canvas {
    width: 600px;
    height: 400px;
    border-radius: var(--border-radius);
    background: linear-gradient(167deg, #22043b, #6916bc, #db1481);
    background-size: 360% 360%;
    animation: gradient-animation 6s ease infinite;
  }

  #ui {
    position: absolute;
    background-color: rgba(42, 41, 41, 0.3);
    width: 100%;
    height: 100%;
    width: 600px;
    border-radius: var(--border-radius);

    display: flex;
    align-items: center;
    justify-content: center;

    button {
      width: 200px;
      height: 56px;
      border: 3px solid black;
      cursor: pointer;
      border-radius: var(--border-radius);
      transition: all 0.3s ease-in-out;
      font-weight: bold;

      &:active {
        transform: scale(0.98);
      }

      &.play {
        background-color: #2085d1;
      }
      &.retry {
        background-color: #6f7378;
      }
      &.next-level {
        background-color: #20d199;
      }
      &.restart {
        background-color: #8420d1;
      }
    }
    .ready-container {
      display: none;
    }
    .playing-container {
      display: none;
    }
    .gameover-container {
      display: none;
    }
    .completed-container {
      display: none;
    }
    .done-container {
      display: none;
    }
  }

  /*  */
  &.SCENE_STATE__LOADING {
    #ui {
      display: none;
    }
  }
  &.SCENE_STATE__READY {
    #ui {
      .ready-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        transition: all 0.3s ease-in-out;
      }
    }
  }
  &.SCENE_STATE__PLAYING {
    #ui {
      display: flex;
      pointer-events: none;
      background-color: transparent;
      .playing-container {
        position: absolute;
        color: whitesmoke;
        /* background-color: whitesmoke; */
        top: 1rem;
        left: 2rem;
        width: 90%;

        display: flex;
        align-items: center;
        justify-content: space-between;

        gap: 1rem;

        .center {
          text-align: center;
        }
        .right {
          text-align: right;
        }
      }
    }

    #main-canvas {
      cursor: e-resize;
    }
  }
  &.SCENE_STATE__COMPLETED {
    #ui {
      display: flex;

      .completed-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        transition: all 0.3s ease-in-out;
      }
    }
  }
  &.SCENE_STATE__GAMEOVER {
    #ui {
      display: flex;
      .gameover-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        transition: all 0.3s ease-in-out;
      }
    }
  }
  &.DONE {
    #ui {
      display: flex;

      width: 90%;
      background-color: whitesmoke;

      .done-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;

        button {
          height: 56px;
        }
      }
    }
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
